@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: var(--att-clr); }

:root {
  --slate900-clr: #1f314f;
  --slate500-clr: #68778d;
  --slate300-clr: #d5e1ef;
  --att-clr: hsl(228, 45%, 44%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
  height: 100vh;
  background: var(--slate300-clr);
}

.container {
  max-width: 320px;
  padding: 1rem 1rem 2.5rem 1rem;
  background: white;
  border-radius: 1.25rem;
  box-shadow: 0px 1px 2px gray;
  margin: 2rem;
}

img {
  width: 18rem;
  border-radius: 0.625rem;
  margin-bottom: 1.5rem;
}

.content {
  padding: 0px 1rem;
  gap: 1rem;
  display: grid;
  text-align: center;
}

.heading,
.para {
  margin: 0;
}

.heading {
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 120%;
  color: var(--slate900-clr);
}

.para {
  font-size: 0.9375rem;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: var(--slate500-clr);
}